<nav class="mt-6">
    <ul>
        <li class="p-4 hover:bg-blue-100 transition duration-300">
            <a href="/admin/dashboard" class="flex items-center text-gray-700 text-md font-semibold">Home</a>
        </li>
        <li class="p-4 hover:bg-blue-100 transition duration-300">
            <a href="/admin/products" class="flex items-center text-gray-700 text-md font-semibold">Product</a>
        </li>
        <li class="p-4 hover:bg-blue-100 transition duration-300">
            <a href="/admin/orders" class="flex items-center text-gray-700 text-md font-semibold">Order</a>
        </li>
        <li class="p-4 hover:bg-blue-100 transition duration-300">
            <a href="/admin/orders/approved" class="flex items-center text-gray-700 text-md font-semibold">Approved</a>
        </li>
        <li class="p-4 hover:bg-blue-100 transition duration-300">
            <a href="/admin/orders/completed" class="flex items-center text-gray-700 text-md font-semibold">Completed</a>
        </li>
        <li class="p-4 hover:bg-blue-100 transition duration-300">
            <a href="/admin/orders/shipped" class="flex items-center text-gray-700 text-md font-semibold">Shipped</a>
        </li>
        <li class="p-4 hover:bg-blue-100 transition duration-300">
            <a href="/admin/orders/cancelled" class="flex items-center text-gray-700 text-md font-semibold">Cancelled</a>
        </li>
    </ul>
</nav>